In [1]:
import pandas as pd
from string import ascii_uppercase as alphabeth

In [49]:
tables = pd.read_html("https://es.wikipedia.org/wiki/Copa_Am%C3%A9rica_2024")

In [87]:
#7*4+6=34
tables[6]

       Equipo  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
0   Argentina     0   0   0   0   0   0   0     0
1        Perú     0   0   0   0   0   0   0     0
2       Chile     0   0   0   0   0   0   0     0
3  Concacaf 5     0   0   0   0   0   0   0     0

In [96]:
dict_tables = {}
for letter,table in zip(alphabeth,range(6,34,7)):
    df = tables[table]
    print(df)
    dict_tables[f"Group {letter}"] = df

       Equipo  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
0   Argentina     0   0   0   0   0   0   0     0
1        Perú     0   0   0   0   0   0   0     0
2       Chile     0   0   0   0   0   0   0     0
3  Concacaf 5     0   0   0   0   0   0   0     0
      Equipo  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
0     México     0   0   0   0   0   0   0     0
1    Ecuador     0   0   0   0   0   0   0     0
2  Venezuela     0   0   0   0   0   0   0     0
3    Jamaica     0   0   0   0   0   0   0     0
           Equipo  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
0  Estados Unidos     0   0   0   0   0   0   0     0
1         Uruguay     0   0   0   0   0   0   0     0
2          Panamá     0   0   0   0   0   0   0     0
3         Bolivia     0   0   0   0   0   0   0     0
       Equipo  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
0      Brasil     0   0   0   0   0   0   0     0
1    Colombia     0   0   0   0   0   0   0     0
2    Paraguay     0   0   0   0   0   0   0     0
3  Concacaf 6     0   0   0   0   0   0   0     0

In [101]:
dict_tables["Group A"]

       Equipo  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
0   Argentina     0   0   0   0   0   0   0     0
1        Perú     0   0   0   0   0   0   0     0
2       Chile     0   0   0   0   0   0   0     0
3  Concacaf 5     0   0   0   0   0   0   0     0